<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Kit de Survie JS</title>
    <style>
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
       
    </script>
  </head>
  <body>
        <div ng-app="">
                
                <p>Color: <input type="text" ng-model="color" style="background-color: {{ color }}"></p>
              </div>
    
  </body>
</html>