<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Kit de Survie JS</title>
    <style>
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>

<body>
        <div ng-app="app1" ng-controller="controller001">
                <ul>
                  <li ng-repeat="pokemon in pokemons">{{ pokemon.id }} - {{ pokemon.ename }}</li>
                </ul>
              </div>
          
              <script>
                var app = angular.module("app1", []);
          
                app.controller("controller001", function($scope, $http) {
                  $scope.pokemons = [];
          
                  $http.get("https://raw.githubusercontent.com/fanzeyi/Pokemon-DB/master/pokedex.json").then(function(response) {
                    if (response.status == 200) {
                      $scope.pokemons = response.data;
                    }
                  })
                });
              </script>
            

</body>

</html>