<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Kit de Survie JS</title>
    <style>
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="jquery-ui-1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body>
        <div ng-app="sample">
                <form class="form-horizontal" name="registerForm">
                        <div class="form-group" >
                                <label class="col-sm-3 control-label" for="name">Nom</label>
                                <div class="col-sm-9">
                                        <input type="text" ng-model="name" required>
                                </div>
                            </div>
                    <div class="form-group" ng-class="{'has-error': registerForm.$dirty && registerForm.Email.$invalid, 'has-success': registerForm.Email.$valid}">
                        <label class="col-sm-3 control-label" for="Email">Email</label>
                        <div class="col-sm-9">
                            <input id="Email" type="email" class="form-control"  name="Email" ng-model="Email" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': registerForm.$dirty && registerForm.Password.$invalid, 'has-success': registerForm.Password.$valid}">
                        <label class="col-sm-3 control-label" for="Password">Password</label>
                        <div class="col-sm-9">
                            <input id="Password" type="password" class="form-control" required ng-minlength="6" name="Password" ng-model="Password" />
                        </div> <span class="text-danger col-sm-offset-3" ng-show="registerForm.Password.$error.minlength">
                                Password too short
                            </span>
            
                    </div>
                    <div class="form-group" ng-class="{'has-error': registerForm.$dirty && registerForm.ConfirmPassword.$invalid, 'has-success': registerForm.ConfirmPassword.$valid}">
                        <label class="col-sm-3 control-label" for="ConfirmPassword">Confirm Password</label>
                        <div class="col-sm-9">
                            <input id="ConfirmPassword" type="password" class="form-control" required equals-to="registerForm.Password" name="ConfirmPassword" ng-model="ConfirmPassword" />
                        </div> <span class="text-danger col-sm-offset-3" ng-show="!registerForm.ConfirmPassword.$error.required && registerForm.ConfirmPassword.$error.equalsTo">
                                Passwords are differents
                            </span>
            
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input type="submit" class="btn btn-default" value="Sign Up" ng-disabled="registerForm.$invalid" />
                        </div>
                    </div>
                </form>
            </div>

    <script>
            var app = angular.module('sample', [])
            .directive('equalsTo', [function () {
            
            return {
                restrict: 'A', 
                scope: true,
                require: 'ngModel',
                link: function (scope, elem, attrs, control) {
                    var check = function () {
                        
                        var v1 = scope.$eval(attrs.ngModel); 
        
                        
                        var v2 = scope.$eval(attrs.equalsTo).$viewValue; 
        
                        return v1 == v2;
                    };
        
                    scope.$watch(check, function (isValid) {
                        
                        control.$setValidity("equalsTo", isValid);
                    });
                }
            };
        }]);
                                    
    </script>



</body>

</html>